*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(185, 238, 241, 0.905);
    color: rgb(16, 15, 15);
    text-align: center;
    height: 100vh;
}
#container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}
.title{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.notepad-container{
    display: flexbox;
    flex-direction: column;
}
